* {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'opens-sans', arial, tahoma;
}

#menu-lateral {
	background-color: rgb(5, 68, 104);
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	position: fixed;
	padding: 20px 0;
}

#menu-lateral img {
	width: 150px;
	border-radius: 50%;
	border: 10px solid rgb(32, 44, 69);
}

#profil {
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
}

/*Design des listes du menu latéral*/
#menu-lateral ul li a {
	display: block;
	padding: 13px 30px;
	color: rgb(202, 252, 253);
	font-size: 16px;
	position: relative;
}

#menu-lateral ul li a:hover, a.active {
	color: blue;
	background-color: #fff;
	border-bottom: 2px solid #000;
}


/*Style du bloc section*/
.section {
	width: calc(100% - 250px);
	margin-left: 250px;
    padding-left: 19%;
}

.section .top-bar {
	background-color: rgb(32, 44, 69);
	height: 55px;
	padding: 0 35px;

}

.section .top-bar .menu a {
	font-size: 30px;
	color: white;
    padding-left: 19%;
}

.section .top-bar .menu a:hover {
	color: rgb(172, 225, 238);
}

